<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matelingo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Ejercicio10">
            android:screenOrientation="landscape"
        </activity>
        <activity
            android:name=".Ejercicio5"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".PopUp_Correcto"
            android:screenOrientation="landscape">

            <!-- -android:theme="@style/AppTheme.Temapopup"> -->
        </activity>
        <activity
            android:name=".Ejercicio1"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Ajustes"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Informacion"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Sumas"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Tercero"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Principal"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>